/* Global Layout Set-up */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: white;
    background: #f3f3f3;
  }
  /* Link Styles */
  
  a {
    text-decoration: none;
    color: #f3f3f3;
  }
  a:hover {
    color: #4615d6b2;
  }
  
  /* Section Styles */
  
  .main-nav {
    width: 100%;
    background: #333;
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
  }
  .nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    color: white;
  }
  
  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }
  .nav li {
    padding: 5px 10px 10px 10px;
  }
  .nav a {
    transition: all 0.5s;
  }
  .nav a:hover {
    color: yellow;
  }
  
  header {
    text-align: center;
    background: url("images/Dubai_skyline.jpg") no-repeat top center;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
  }
  header {
    line-height: 1.5;
  }
  header .profile-image {
    margin-top: 50px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid #333;
    transition: all 0.5s;s
  }
  
  header .profile-image:hover {
    transform: scale(1.1);
  }
  
  .tag {
    background-color: #efefef;
    color: black;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
  }
  .location {
    background-color: #f3f3f3;
    color: #333;
  }
  .card {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: #333;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    transition: all 0.5s;
  }
  
  .card-contact {
    padding: 20px;
    max-width: 500px;
    margin: 10px auto;
    margin-bottom: -675px;
    text-align: left;
    background: #333;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    transition: all 0.5s;
  }
  .card-contact img {
    width: 100%;
  }

  .card-contact:hover {
    border-color: yellow;
  }
  
  ul.skills {
    padding: 0;
    text-align: center;
  }
  
  .skills li {
    border-radius: 6px;
    display: inline-block;
    background: #ff9904;
    color: white;
    padding: 5px 10px;
    margin: 2px;
    text-decoration: none;
  }
  
  .skills li:hover {
    transform: scale(1.2);
    color: white;
    text-decoration: none
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
     color: #fff; 
     text-decoration: none; 
     cursor: pointer;  
  }
  
  .skills .contact1 {
    background: #3b5998;
  }

  .skills .contact2 {
      background: #1DA1F2;
  }

  .skills .contact3 {
      background: #C13584;
  }

  .skills .contact4 {
      background: #25D366;
  }
  
  .social-media-icons {
    margin: 0px;
    padding: 5px;
    text-align: center;
    border: 2px solid yellow;
  }
  
  footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
  }
  
  footer .copyright {
    margin-top: 660px;
    font-size: 0.75em;
    color: #333;
  }
  
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 650px;
  }
  
  footer ul li {
    display: inline-block;
  }
  
  a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: 0.4;
    transition: all 0.5s;
  }
  a.twitter {
    background-image: url(images/twitter.svg);
  }
  a.linkedin {
    background-image: url(images/linkedin.svg);
  }
  a.github {
    background-image: url(images/github.svg);
  }
  a.social:hover {
    opacity: 1;
  }
  .clearfix {
    clear: both;
  }
  
  /* Styles for larger screens */
  @media screen and (min-width: 720px) {
    .flex {
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: flex;
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
    }
  
    header {
      min-height: 470px;
    }
  
    .nav {
      max-width: 1200px;
      padding: 0 30px;
    }
    
    main p {
      line-height: 1.6em;
    }
  
    footer {
      font-size: 1.3em;
      max-width: 1200px;
      margin: 40px auto;
    }
  }
  